body {
  font-family: 'Muli', sans-serif;
  color: #333;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  text-align: center;
  width: 80%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  color: #333;
}

h2 {
  font-size: 2em;
  color: #333;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

#nanodl-intro, #features, #benefits {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icons {
  margin-top: 20px;
}

.icons a {
  color: #333;
  margin: 0 10px;
  font-size: 2em;
}

.icons a:hover {
  color: #0077b5; /* LinkedIn color */
}
